body {
    background-image: url("");
    background-size:cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:50px;
}

#counter{
    font-size: 35px;
    font-weight:900;
}
button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
#btn2 {
    background: darkred;
}

#btn1 {
    background: darkgreen;
}
#btn3 {
    background: lightblue;
}