*{
    margin:0;
    padding:0;
}
body{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    box-sizing: border-box;
}
/* Container styling */
.container {
    text-align: center;
    margin-bottom: 20px;
}
.container h1 {
    font-size: 2.5rem;
    color: #444;
    margin: 0;
}

/* Section styling */
.section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.section h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #666;
    text-align: center;
}

/* Form styling */
.forms form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forms label {
    font-size: 1rem;
    margin-bottom: 8px;
    color: #333;
}

forms input[type="date"] {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width:100%;
    max-width: 300px;
    margin:10px;
}
.forms input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding:5px;
    border: none;
    border-radius: 5px;
    font-size:0.8rem;
    margin:5px;
    width:25%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.forms input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive design */
@media (max-width: 500px) {
    .container h1 {
        font-size: 2rem;
    }

    .section {
        padding: 15px;
    }
}
